<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云车Table Manager</title>
</head>
<body>
    <h1>云车表管理web应用beta</h1>
    <h3>目前支持report数据库中TableManager表的添加和修改功能。</h3>
    <h3>使用方法：</h3>
    <ul>
    <li>输入URL “http://10.3.10.61:5000/tablemanager”进入应用界面</li>
    <li>在各项表格中输入信息并点击“添加”建立新条目并插入report数据库的TableManager表中</li>
    <li>鼠标悬浮于某格以查看完整信息</li>
    <li>鼠标左键点击某格以修改数据库中条目的某一项内容，点击submit按钮提交（不支持一次提交多次修改）</li>
    <li>鼠标左键点击tableManagerId以删除该行数据</li>
    </ul>
    <p>请不要用IE浏览器！</p>
</body>
</html>