<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云车Table Manager</title>
    <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='WdatePicker.js') }}"></script>
    <script src="{{ url_for('static', filename='CurrentDate.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type=text/javascript>
        var table_content = {{ content|tojson|safe }}
        console.log(table_content);
    </script>
</head>
<body>
<form style="width:320px">
    <p>tableName: <input type="text" name="table_name" id="table_name" /></p>
    <p>tableType:
    <select id="table_type" size=3>
        <option value="中间表">中间表</option>
        <option value="维度表">维度表</option>
        <option value="查询表">查询表</option>
        <option value="事实表">事实表</option>
    </select></p>
    <br>
    <p>dataLevel:
    <select id="data_level" size=3>
        <option value="日汇总">日汇总</option>
        <option value="周汇总">周汇总</option>
        <option value="月汇总">月汇总</option>
    </select></p>
    <br>
    <p>procName: <input type="text" name="proc_name" id="proc_name" /></p>
    <p>note: <textarea name="note" id="note" rows="3" cols="25"></textarea></p>
    <br>

    <p>inputMan: <input type="text" name="input_man" id="input_man" /></p>
    <p>inputDate: <input type="text" id="input_date" value="" onFocus="WdatePicker({lang:'zh-cn', dateFmt:'yyyy-MM-dd HH:mm:ss'})" /></p>
    <p>updateMan: <input type="text" name="update_man" id="update_man" /></p>
    <p>updateDate: <input type="text" id="update_date" value="" onFocus="WdatePicker({lang:'zh-cn', dateFmt:'yyyy-MM-dd HH:mm:ss'})" /></p>
</form>
<button id="button">添加</button>
<br>
<script src="{{ url_for('static', filename='EventResponsor.js') }}" charset="GBK"></script>
<script src="{{ url_for('static', filename='d3table.js') }}"  charset="GBK"></script>
<script>
    var current_date = get_current_date_time();
    $("#input_date").val(current_date);
    $("#update_date").val(current_date);
    $("#button").click(function(){
        add_handler();
    });

    $(".submit").click(function() {
        edit_handler();
    });

    $(".remove").click(function() {
        remove_handler();
    });
</script>
</body>
</html>