<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云车Table Manager</title>
    <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type=text/javascript>
        var table_content = {{ content|tojson|safe }}
        console.log(table_content);
    </script>
</head>
<body>
<form style="width:300px">
    <p>tableName: <input type="text" name="table_name" id="table_name" /></p>
    <p>tableType:
    <select id="table_type" size=3>
        <option value="中间表">中间表</option>
        <option value="维度表">维度表</option>
        <option value="查询表">查询表</option>
        <option value="事实表">事实表</option>
    </select></p>
    <br>
    <p>dataLevel:
    <select id="data_level" size=3>
        <option value="日汇总">日汇总</option>
        <option value="周汇总">周汇总</option>
        <option value="月汇总">月汇总</option>
    </select></p>
    <br>
    <p>procName: <input type="text" name="proc_name" id="proc_name" /></p>
    <p>note: <textarea name="note" id="note" rows="3" cols="25"></textarea></p>
    <br>

    <p>inputMan: <input type="text" name="input_man" id="input_man" /></p>
    <p>inputDate: <input type="datetime-local" id="input_date" /></p>
    <p>updateMan: <input type="text" name="update_man" id="update_man" /></p>
    <p>updateDate: <input type="datetime-local" id="update_date" /></p>
</form>
<button id="button">添加</button>
<br>
<script>
    $("#button").click(function(){
        $.ajax({
            url: "/tablemanager",
            type: "POST",
            data: {
                "which": "add_item",
                "table_name": $("#table_name").val(),
                "table_type": $("#table_type").val(),
                "data_level": $("#data_level").val(),
                "proc_name": $("#proc_name").val(),
                "note": $("#note").val(),
                "input_man": $("#input_man").val(),
                "input_date": $("#input_date").val(),
                "update_man": $("#update_man").val(),
                "update_date": $("#update_date").val()
            },
            success: function (json) {
                $("body").fadeTo(500, 1);
                $("#ref_msg").remove();
                console.log(json);
                table_content = json.new_content;
                console.log(table_content);
                var url = "../static/d3table.js";
                $.getScript(url, function(){ console.log("Refreshing table!"); });
            }
        });
        $("body").fadeTo(500, 0.4);
        $("body").append("<div id='ref_msg'>Updating data...</div>");
    });
</script>
<script src="{{ url_for('static', filename='d3table.js') }}"></script>
<script>
    $(".submit").click(function() {
        console.log("Tijiaole!");
        var id = $(this).attr('id').slice(6, 7);
        var item = $(this).attr('id').slice(7, 8);
        var substring = $(this).attr('id').slice(6, 8);
        console.log(id, item, substring);
        var content = $('#editor'+substring).val();
        console.log(content);
        $.ajax({
            url: "/tablemanager",
            type: "POST",
            data: {
                "which": "edit_item",
                "id_index": id,
                "item_index": item,
                "edit_content": content
            },
            success: function (json) {
                $("body").fadeTo(500, 1);
                $("#ref_msg").remove();
                console.log(json);
                table_content = json.new_content;
                console.log(table_content);
                var url = "../static/d3table.js";
                $.getScript(url, function(){ console.log("Refreshing table!"); });
            }
        });
        $("body").fadeTo(500, 0.4);
        $("body").append("<div id='ref_msg'>Updating data...</div>");
        $(this).css("visibility", "hidden");
        $('#editor'+substring).css("visibility", "hidden");
    });
</script>
</body>
</html>