<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云车Table Manager</title>
    <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <script type=text/javascript>
        var table_content = {{ content|tojson|safe }}
        console.log(table_content);
    </script>
</head>
<body>
<script src="{{ url_for('static', filename='d3table.js') }}"></script>
<form style="width:300px">
    <p>tableName: <input style="float:right" type="text" name="table_name" id="table_name" /></p>
    <p>tableType:
    <select style="float:right" id="table_type" size=3>
        <option value="zhongjianbiao">中间表</option>
        <option value="weidubiao">维度表</option>
        <option value="chaxunbiao">查询表</option>
        <option value="shishibiao">事实表</option>
    </select></p>
    <br>
    <p>dataLevel:
    <select style="float:right" id="data_level" size=3>
        <option value="zhongjianbiao">日汇总</option>
        <option value="weidubiao">周汇总</option>
        <option value="chaxunbiao">月汇总</option>
    </select></p>
    <br>
    <p>procName: <input style="float:right" type="text" name="proc_name" id="proc_name" /></p>
    <p>note: <input style="float:right" type="text" name="note" id="note" /></p>
    <p>inputMan: <input style="float:right" type="text" name="input_man" id="input_man" /></p>
    <p>inputDate: <input style="float:right" type="text" name="input_date" id="input_date" /></p>
    <p>updateMan: <input style="float:right" type="text" name="update_man" id="update_man" /></p>
    <p>updateDate: <input style="float:right" type="text" name="update_date" id="update_date" /></p>
</form>
<button id="button">添加</button>
<br>
<script>
    $("#button").click(function(){
        $.ajax({
            url: "/tablemanager",
            type: "POST",
            data: {
                "table_name": $("#table_name").val(),
                "table_type": $("#table_type").val(),
                "data_level": $("#data_level").val(),
                "proc_name": $("#proc_name").val(),
                "note": $("#note").val(),
                "input_man": $("#input_man").val(),
                "input_date": $("#input_date").val(),
                "update_man": $("#update_man").val(),
                "update_date": $("#update_date").val()
            },
            success: function (json) {
                $("body").fadeTo(500, 1);
                $("#ref_msg").remove();
                console.log(json);
                table_content = json.new_content;
                console.log(table_content);
                var url = "../static/d3table.js";
                $.getScript(url, function(){ console.log("Refreshing table!"); });
            }
        });
        $("body").fadeTo(500, 0.4);
        $("body").append("<div id='ref_msg'>Updating data...</div>");
    });
</script>
</body>
</html>